body {
    font-family: 'Nunito', sans-serif;
    background: ;
}





/* Navbar Start */


.navbar .fa-solid {
    line-height: 50px;
    color: #234CAD;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background: #F2F6FF;
    margin-right: 120px;
}

.navbar .fa-solid:hover {
    border: 2px solid #234CAD;
    transition: 0.1s;
}

.navbar {
    margin-top: 10px;
}

.btnLogin {
    box-sizing: border-box;
    width: 135px;
    height: 50px;
    margin-right: 90px;
    border: 2px solid #234CAD;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #234CAD;
    background: #FFF;
}

.btnLogin:hover {
    background: #F2F6FF;
    border-radius: 25px;
    width: 135px;
    height: 50px;
    transition: 0.3s;
    transform: scale(1.1);
}

.btnSignup {
    background: #F2F6FF;
    border-radius: 25px;
    width: 135px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #234CAD;
}

.btnSignup:hover {
    border: 2px solid #234CAD;
    transition: 0.1s;
    transform: scale(1.1);
}

#header a {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #234CAD;
}

#header a:hover {

    color: #234CAD;
    transition: 0.1s;
    transform: scale(1.2);
}

/* Navbar End */

/* Banner Start */

#banner {
    color: #234CAD;
    margin-top: 70px;
}

#banner .container {
    height: auto;
    background: #F2F6FF;
    border-radius: 60px;
}

.sideLeft {}

.bannerTitle {
    font-weight: 700;
    font-size: 48px;
    margin-top: 108px;
    margin-left: 100px;
}

#banner p {
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    width: 300px;
    margin-left: 100px;
}

.btnGetApp {
    background: #F2F6FF;
    border-radius: 32.5px;
    width: 200px;
    height: 65px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #234CAD;
    border: 2px solid #234CAD;
    margin-top: 50px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 22px;
}

.btnGetApp:hover {
    background: #fff;
    transition: 0.3s;
    transform: scale(1.1);
}

.sideRight {}


.box1 {
    width: 75px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 36px;
}


.box2 {
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 25px;
}

.box3 {
    width: 130px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-top: -35px;
    margin-left: 50px;
}

.box4 {
    width: 276px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-top: 25px;
}

.box5 {
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 25px;
}

.box6 {
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-top: 25px;
}

.box7 {
    width: 75px;
    height: 65px;
    padding-top: 10px;
    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    margin-top: 93px;
    margin-left: 25px;
}

.box8 {
    width: 350px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-left: 390px;
    margin-top: -200px;
}

.hover:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
/* Banner End */

/* Cards Start */
#cards {
    margin-top: 5%;
        margin-bottom: 5%;
}

#cards h5 {
    font-weight: 600;
    font-size: 30px;
    color: #234CAD;
}

#cards p {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #234CAD;
}

.cardsLeft {
    display: flex;
    align-items: center;
    text-align: left;
    width: 42%;
    height: auto;
    margin-right: 14%;

}



.cardsRight {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: left;
    width: 44%;
    height: auto;
}


/* Cards Start */

/* Newslatter Start */

#newsletter {
    margin-top: 5%;
    color: #234CAD;
}

.newsletter-main {
    height: 383px;
    background: #F2F6FF;
    border-radius: 60px;
    text-align: center;
}

#newsletter .title {
    font-weight: 700;
    font-size: 48px;
}

#newsletter p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

#newsletter input {
    margin-top: 35px;
    width: 500px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 17.5px;
    padding: 0 20px;
    border: none;
    outline: none;
}

#newsletter input:focus {
    border: 3px solid #234CAD;
    transition: 0.2s;
}

::placeholder {
    font-size: 99px;
    color: #234CAD;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.5;
}

#newsletter button {
    width: 45px;
    height: 45px;
    background: #234CAD;
    margin-left: -60px;
    border-radius: 12.5px;
    color: white;
    border: none;
}

#newsletter button:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

/* Newslatter End */

/* Footer Start */

#footer {
    color: #234CAD;
}

#footer .card {
    border: none;
}

#footer h3 {
    color: #234CAD;
    font-weight: 700;
    font-size: 29px;
    line-height: 49px;
}

#footer li {
    list-style: none;
    text-decoration: none;
}

#footer li a {
    text-decoration: none;
    color: #234CAD;
}

#footer li a:hover {
    text-decoration: underline;
}

/* Footer End */
/* CSS RIKI */
/* about */
.about {
    width: 100%;
    height: 550px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.kiri {
    margin: 40px;
    margin-right: 70px;
    padding: 20px;
    padding-top: 60px;
    width: 390px;
    height: 420px;
    color: #234CAD;

}

.kiri span {
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.kiri p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
}

.get {
    width: 200px;
    height: 65px;
    border-radius: 32.5px;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    border: 2px solid #234CAD;
    cursor: pointer;
    color: #234CAD;
    background-color: white;
}

.get:hover {
    background-color: #234CAD;
    color: white;
}

.kanan {
    padding: 80px;
    width: 575px;
    height: 575px;
    background-color: #F2F6FF;
    border-color: black;
    border-radius: 60px;
    color: #234CAD;
    overflow: hidden;
}

.satu {
    display: inline-flex;
    margin-left: 12px;

}

.dua {
    display: inline-flex;
    margin-left: 12px;
}

.tiga {
    display: inline-flex;
    margin-left: 12px;
}

.isi {
    padding: 12px;
    margin: 13px;
    width: 276px;
    height: 160px;
    background-color: white;
    border-radius: 25px;
}

.icon {
    font-size: 21px;
    color: #234CAD;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.6px solid #234CAD;

}

.daily {
    margin-left: 20px;
    margin-top: 5px;

}

.daily p {
    margin-top: 5px;
    font-size: 12px;
    font-style: normal;
}

.daily span {
    font-size: 16px;

}

.atas {
    display: flex;
    padding: 15px;
}

.bawah {
    margin-top: 8px;
    margin-left: 15px;
}

.bawah a {
    display: flex;
    text-decoration: none;
}

.bawah .item {
    font-size: 10px;
    color: #234CAD;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F6FF;
}

.item:hover {
    background-color: white;
}

/* pricing */

.conten2 {
    margin-top: 100px;
}

.prising {
    margin: 20px;
    padding: 20px;
    color: #234CAD;
}

.judul {
    text-align: center;
    height: 100px;
}

.prising .judul span {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

}

.prising .judul p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.isiprising {
    width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.box {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #F2F6FF;
    border-radius: 60px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box span {
    margin: 30px;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;

}

.box i {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
}

.box .klik {
    width: 274px;
    height: 75px;
    margin: 10px;
    background-color: white;
    border-radius: 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #234CAD;
}

.box a {
    text-decoration: none;
}

.klik:hover {
    background-color: #234CAD;
    color: white;
}

.boxtengah {
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: white;
    border: 3px solid #234CAD;
    border-radius: 60px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxtengah span {
    margin: 30px;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;

}

.boxtengah i {
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
}

.boxtengah .klik {
    width: 274px;
    height: 75px;
    margin: 10px;
    background-color: white;
    border: 3px solid #234CAD;
    border-radius: 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #234CAD;
}

.boxtengah a {
    text-decoration: none;
}

.boxtengah .klik:hover {
    background-color: #234CAD;
    color: white;
}

@media (max-width:880px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .kanan {
        margin: 10px;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 100%;
    }

    .kiri {
        height: 330px;
        margin-top: 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .isiprising {
        flex-wrap: wrap;
    }

    .isiprising .box {
        margin-top: 30px;
    }

    .isiprising .boxtengah {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .kiri {
        width: 100%;
        height: auto;
    }

    .kanan {
        width: 100%;
        height: auto;
        margin-right: 12%;
    }

    .kanan .satu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kanan .dua {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kanan .tiga {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .isiprising {
        margin-top: 50px;
    }

    .judul {
        margin-bottom: 150px;
    }
}

/* CSS RIKI */